# Logs
logs
*.log
npm-debug.log*

# IDE specific directories
.idea

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Mac OS files
.DS_Store

# Postgres commands for dummy data
db_base_data.sql
