<div id ="mainContainer">
      <div class = "row">
          <div class = "col-lg-3 col-md-3 col-sm-3">
      			<div class = "row">
      					<div class = "col-lg-3 col-md-3 col-sm-3 headerOne text-center">Savings
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 headerTwo text-center">Money</div>
                   </div>
               </div>
            </div>
      </div>


      <div class = "col-lg-3 col-md-3 col-sm-3">
        <div class = "row">
            <div class = "col-lg-3 col-md-3 col-sm-3 headerOne">Checking
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 headerTwo">Money</div>
               </div>
           </div>
        </div>
  </div>
  <div class = "col-lg-3 col-md-3 col-sm-3">
    <div class = "row">
        <div class = "col-lg-3 col-md-3 col-sm-3 headerOne">Cash
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 headerTwo">Money</div>
           </div>
       </div>
    </div>
</div>
<div class = "col-lg-3 col-md-3 col-sm-3">
  <div class = "row">
      <div class = "col-lg-3 col-md-3 col-sm-3 headerOne">Debt
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 headerTwo">Money</div>
         </div>
     </div>
  </div>
</div>
</div>
</div>



			<div id ="transactionForm">
				<form>
          <label for = "date">Date:</label>
					<input ng-model ="" type="date" name = "date">

          <label for = "location">Location:</label>
					<input ng-model ="" type ="text" name = "location">

          <label for = "category">Category:</label>
				 	<input ng-model ="" type = "text" name = "category">

          <label for = "amount"> Amount:</label>
          <input ng-model ="" type ="number" name = "amount">

          <label for = "transactionType">Transaction Type:</lable>
					<input ng-model ="" type ="text" name = "transactionType">

					<input ng-model ="" type ="submit" name ="submit">
				</form>
			</div>

			<div id ="mainTable">
				<table class = "table table-responsive">
					<tr>
						<th class = "col-lg-1 col-md-1 col-sm-1 col-xs-1">Date</th>
						<th class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Location</th>
						<th class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Category</th>
            <th class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Transaction Type</th>
						<th class = "col-lg-1 col-md-1 col-sm-1 col-xs-1">Amount</th>
						<th class = "col-lg-1 col-md-1 col-sm-1 col-xs-1">Delete</th>
					</tr>
					<tr ng-repeat = "x in transactions">
						<td class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"> {{x.date}} </td>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3"> {{x.location}} </td>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3"> {{x.category}} </td>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3"> {{x.transaction}} </td>
            <td class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"> {{x.amount}} </td>
						<td class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"><button type ="button">"X"</button></td>
					</tr>
				</table>
			</div>
