table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;

}
#pageContainer {
  padding: 20px;
}
#container {
margin-bottom: 20px;
border: 1px solid black;
}
#transactionForm {
  padding-bottom: 20px;
}
.headerOne {
  font-size: 40px;
  text-align: center;
}
.headerTwo {
  font-size: 20px;
}
